{% extends '::LayoutFront.html.twig' %}

{% block body %}


   <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Contacts
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        In the history of modern astronomy, there is probably no one greater leap forward than the building.
                    </p>
                    <div class="link-nav">
						<span class="box">
							<a href="index.html">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="contacts.html">Contacts</a>
						</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->

    <!-- ================ Start contact-page Area  ================= -->
    <section class="contact-page-area section-gap">
        <div class="container">
            <div class="row">
                <div class="map-wrap" style="width:100%; height: 445px;" ><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12762.65492409878!2d10.189732!3d36.898392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x683b3ab5565cd357!2st!5e0!3m2!1sen!2stn!4v1591107877848!5m2!1sen!2stn"  width="1180" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
                <div class="col-lg-4 d-flex flex-column address-wrap">
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-home"></span>
                        </div>
                        <div class="contact-details">
                            <h5>Binghamton, New York</h5>
                            <p>
                                4343 Hinkle Deegan Lake Road
                            </p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="contact-details">
                            <h5>00 (958) 9865 562</h5>
                            <p>Mon to Fri 9am to 6 pm</p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div class="contact-details">
                            <h5>support@colorlib.com</h5>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                 {{ form_start(form, { 'attr': {'class': 'form-area contact-form text-right'} }) }}
                        <div class="row">
                            <div class="col-lg-6 form-group">


                                {{form_widget(form.name,{ 'attr': {'placeholder': 'Votre nom','class': 'common-input mb-20 form-control '} })}}


                                {{form_widget(form.email,{ 'attr': {'placeholder': 'Votre email','class': 'common-input mb-20 form-control '} })}}


                                {{form_widget(form.subject,{ 'attr': {'placeholder': 'le sujet','class': 'common-input mb-20 form-control '} })}}
                            </div>
                            <div class="col-lg-6 form-group">

                                {{form_widget(form.message,{ 'attr': {'placeholder': 'Votre Message','class': 'common-textarea form-control'} })}}
                            </div>
                            <div class="col-lg-12">
                                <div class="alert-msg text-success" style="text-align: left;">{% if msg is defined %}{{ msg }}{% endif %}</div>
                                    <div class="alert-msg text-danger" style="text-align: left;">
                                    {% if error is defined %}{{ error }}{% endif %}</div>
                                <button class="btn" style="float: right;">Envoyer Message</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End contact-page Area ================= -->
{% endblock %}
