{% extends "@User/Page_admin.html.twig" %}

{% block body %}







    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Ajout d'un staff</h3></div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                    <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Username</label>


                                        {{ form_widget(form.username,{ 'attr': {'placeholder': 'Entrer username','class': 'form-control py-4'} })}}
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputFirstName">Nom</label>
                                                {{ form_widget(form.nom,{ 'attr': {'placeholder': 'Entrer le nom','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputLastName">Prenom</label>
                                                {{ form_widget(form.prenom,{ 'attr': {'placeholder': 'Entrer le prenom','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputFirstName">Poste</label>
                                                {{ form_widget(form.poste,{ 'attr': {'placeholder': 'Entrer le poste','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputLastName">Statut</label>
                                                {{ form_widget(form.statut,{ 'attr': {'placeholder': 'Entrer le statut','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label>
                                        {{ form_widget(form.email,{ 'attr': {'placeholder': 'Entrer address mail','class': 'form-control py-4'} })}}
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label>
                                                {{ form_widget(form.plainPassword.first,{ 'attr': {'placeholder': 'Entrer mot de passe','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                                {{ form_widget(form.plainPassword.second,{ 'attr': {'placeholder': 'Confirmer mot de passe','class': 'form-control py-4'} })}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" type="submit" name="submit-form">Ajouter</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div></div>
    <br><br>


{% endblock %}
