{% extends 'base.html.twig' %}

{% block body %}
    <h1>Staff</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ staff.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ staff.prenom }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ staff.poste }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ staff.statut }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('staff_edit', { 'id': staff.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
