{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipement.nom }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ equipement.quantite }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if equipement.date %}{{ equipement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipement_edit', { 'id': equipement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
